*,*::before,*::after { box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    color: #272744;
    font-family: sans-serif;
    text-align: center;
    vertical-align: top;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #fbf5ef;
}

h1 { 
    margin-top: 30px;
    font-size: 1rem;
    display: inline-block;
    padding: 0 5px;
}

h2 {
    font-size: 2.827rem; 
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
}

h1,
.wrapper div { 
    border: 1px solid #272744;
    padding-bottom: 15px ;
}

.wrapper div { margin-top: 15px ; }